.post {
    width: 80%;
    margin: 10rem auto;
    max-width: 120rem;
    max-height: 82rem;
    height: 100%;
    display: grid;
    border-radius: 1.75rem;

    grid-template-columns: 1fr 1fr;

    &-footer {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.5rem;

        &-length {
            font-size: 2rem;
            font-weight: 700;
            // margin-top: 0;
            // margin-left: 2rem;
            margin: 0 0rem 0 2rem;
        }

        &-icon {
            font-size: 2rem;
            font-weight: 700;
            // margin-top: 0;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
                // color: #AB87FF;
            }

            // margin-left: 2rem;
            margin: 0 0rem 0 2rem;
        }

        // margin-top: 0;
        // align-items: center;
        // padding: 0 2rem;
    }

    &-header {

        &-user {
            display: grid;
            width: 100%;
            cursor: pointer;
            border-radius: 3rem;
            background-color: #000;
            max-width: 30rem;
            // padding:1rem;
            justify-content: space-between;
            align-items: center;

            img {
                margin-right: 2rem;
            }

            p {
                font-size: 2rem;
                font-weight: 700;
                margin-right: 2rem;
            }

            grid-template-columns: auto auto;
        }

        &-background {

            border-radius: 2rem 0rem 0rem 0rem;
            padding: 1rem;
            background-color: #AB87FF;
        }

        display: flex;
        color:#FBFFFF;
        width: calc(100% - 2rem);
        padding:1rem 1rem;
        justify-content: space-between;
        font-size: 2rem;

        img {
            width: 6rem;
            border-radius: 100%;
        }
    }

    color: #fff;

    &-title {
        font-size: 2.6rem;
        font-weight: 800;
        margin: 0;
        padding: 2rem 2rem 0;
        // margin: 2rem 0;
    }

    &-content {
        width: calc(100% - 4rem);
        border-radius: 1fr 1fr 0 1rem;
        padding: 2rem;

        img {
            border-radius: .5rem;
            object-fit: cover;
            width: 100%;
        }
    }

    &-comment {
        &-inner {
            padding: 0 1rem;
        }

        width: calc(100% - 4rem);
        border-radius: 2rem;
        padding: 2rem;
        margin-top: 1.5rem;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 2rem rgba(#0038A8, 0.2);
        background-color: rgba(#fff, 0.2);
        // display: flex;
        margin-bottom: 2rem;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 1.4rem !important;
                // font-weight: 700;
                margin-right: 2rem;
            }
        }

        &-user {
            display: flex;
            align-items: center;

            p {
                font-size: 2rem !important;
            }

            // justify-content: space-between;
        }

        img {
            box-shadow: 0 0 2rem rgba(#0038A8, 0.4);
            width: 6rem;
            border-radius: 100%;
            margin-right: 2rem;
        }

        p {
            font-size: 2rem;
            font-weight: 700;
            margin-right: 2rem;
        }

        grid-template-columns: auto auto;
    }

    &-comments {
        width: calc(100% - 4rem);
        border-radius: 0rem 2rem 2rem 0rem;
        padding: 2rem;

        max-height: calc(82rem - 4rem);
        height: calc(100% - 4rem);
        overflow: hidden;

        &-list {
            padding: 2rem;
            max-height: calc(100% - 20rem);
            overflow: auto;

        }

        h2 {
            font-size: 2.6rem;
            font-weight: 800;
            color: #fff;
            margin: 2rem 0 2rem;
        }

        &-new {
            width: calc(100% - 1rem);
            border-radius: 3rem;
            margin: 0 .5rem;
            background-color: #AB87FF;
            display: flex;
            margin-bottom: 2rem;
            background-color: #FBFFFF;

            input {
                outline: none;
                border: 0;
                font-size: 1.7rem;
                padding: 0 2rem;
                color: #000;
                font-weight: 700;
                border-radius: 0% 3rem 3rem 0%;
                width: calc(100% - 4rem);
            }

            img {
                width: 6rem;

                border-radius: 100% 0% 0% 100%;
                // margin-right: 2rem;
            }

        }

        background-size: cover;
        // background-image: linear-gradient(to right, rgba(#AB87FF, 0.8), rgba(#AB87FF, 0.9)),
        // url('/footer-right.webp');
        box-shadow: 0 0 1rem rgba(#000, .1);
        position: relative;
    }

    background-size: cover;
    background-image: linear-gradient(to right, rgba(#AB87FF, 0.8), rgba(#AB87FF, 0.9)),
    url('/footer-right.webp');
    // border-radius: 2rem;
    // box-shadow: 0 0 1rem rgba(#000, .1);
    position: relative;

    // border-radius: 2rem;

}

.forum {
    &-create {
        &-upload {
            &-label {

                display: block;
                height: 4rem;

                color: #fff !important;
                width: calc(100% - 6rem);
                text-align: center;
                border-radius: .5rem;
                padding: 6rem 3rem;
                background-color: rgba(#000, 0.75);

                &-icon {
                    font-size: 4rem !important;
                }

                // background-color: #000;
            }
        }

        &-image {
            img {
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                max-height: 50rem;
                object-fit: contain;
            }

            video {
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                max-height: 50rem;
                object-fit: contain;

            }

            position: relative;

            &-cancel {
                background-color: #fff;
                color: #000;
                top: 1rem;
                right: 1rem;
                font-size: 2rem;
                padding: .3rem;
                cursor: pointer;
                border-radius: 100%;
                position: absolute;
            }

            padding: 2rem;
            background-color: rgba(#000, 0.6);
            width: calc(100% - 4rem);
            height: 100%;
            max-height: 50rem;
            object-fit: cover;
            border-radius: .5rem;
        }

        background-size: cover;
        position: relative;

        &::before {
            background-image: url('/images/about-info.png');
            position: absolute;
            top: 0;
            filter: blur(4px);
            z-index: -1;
            content: ' ';
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-form {
            margin-top: 5rem;

            &-input {
                textarea::placeholder {
                    color: rgba(#fff, 0.5);
                }

                textarea {
                    width: calc(100% - 4rem);
                    padding: 2rem;
                    border: none;
                    outline: none;
                    min-height: 120px;
                    color: #fff;

                    background-color: rgba(#000, 0.75);
                    font-size: 2rem;
                    // text-transform: ;
                    resize: none;
                    border-radius: 0.5rem;
                }

                width: 100%;

                label {
                    display: block;
                    font-size: 2rem;
                    color: #fff;
                    top: 50%;
                    left: 0;
                    transition: all 0.2s;
                    transform: translate(50%, -50%);
                    margin-bottom: 1rem;
                    position: absolute
                }

                input:focus~label,
                :not(input:placeholder-shown)~label {
                    transform: translate(0%, -250%);
                }

                input {
                    width: calc(100% - 4rem);
                    padding: 2rem;
                    border: none;
                    outline: none;
                    color: #fff;
                    background-color: rgba(#000, 0.75);
                    font-size: 2rem;
                    // text-transform: ;
                    border-radius: 0.5rem;
                }


                position: relative;
            }
        }

        background-image: linear-gradient(to bottom, #AB87FF, rgba(#AB87FF, 0.7));

        &-type {
            width: calc(100%);
            color: #fff;
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            border-radius: 0.5rem;

            &-each {
                transition: all 0.2s;
                padding: 2rem;
                margin: 0;
                cursor: pointer;
                margin-top: 0 !important;
                text-align: center;
            }

            background-color: rgba(#000, 0.75);
            margin: 4rem 0;
            text-transform: uppercase;
        }

        &-header {
            padding: 0 0 1rem;
            margin-bottom: 4rem;
            border-bottom: solid 2px #fff;
        }

        h1 {
            margin: 0rem 0;
            font-size: 4rem;
            color: #FBFFFF;
            margin-bottom: 0;
        }

        p {
            font-size: 1.8rem;
            color: #FBFFFF;
            margin-top: 1rem;
        }

        &-button {
            margin: 6rem 0 1rem;
            background-color: #000;
            font-size: 1.8rem;
            color: #fff;
            outline: none;
            width: 15rem;
            cursor: pointer;
            transition: all .2s;

            p {
                margin: .25rem 0 0;
            }

            &:hover {
                transform: scale(1.05);
            }

            border:none;
            border-radius: .5rem;
            padding:2rem 2rem;
        }

        max-width: 60rem;
        padding: 4rem;
        border-radius: 1rem;
        margin: 10rem auto;
    }
}