@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  height: 10rem;
  padding: 1rem 3rem;
  justify-content: space-between;
  background-color: #ECF3F5;
}
.navbar-left-logo {
  display: flex;
  width: 10rem;
  font-size: 2.4rem;
  align-items: center;
  margin: 0;
}
.navbar-left-logo h3 {
  margin: 0 !important;
}
.navbar-right {
  align-items: center;
  display: flex;
}
.navbar-right-nav {
  display: flex;
  align-items: center;
  height: 5.8rem;
  font-size: 1.6rem;
  background-color: #F1F1F1;
  transition: all 0.2s;
}
.navbar-right-nav-each {
  background-color: #F1F1F1;
  padding: 1.4rem 3rem;
  color: #000;
  text-decoration: none !important;
}
.navbar-right-nav-each:hover {
  color: #fff;
  background-color: #000;
}
.navbar-right-search {
  display: flex;
  height: calc(3rem - 1px);
  margin: 0 2rem;
  padding: 1.4rem 1rem;
  border: 1px solid;
  background-color: white;
  align-items: center;
}
.navbar-right-search-icon {
  font-size: 2.6rem !important;
  margin-right: 1rem;
}
.navbar-right-search input {
  border: none;
  font-size: 1.8rem;
  outline: none;
}
.navbar-right-search input::placeholder {
  color: black;
}
.navbar-right-donation {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  height: 3rem;
  font-weight: 900;
  padding: 1.4rem 1rem;
}

.home-header {
  position: relative;
  height: calc(100vh - 18rem);
  padding: 4rem;
}
.home-header-header {
  max-width: 53rem;
  width: 80%;
}
.home-header-header h2 {
  font-size: 4.6rem;
  margin-bottom: 1rem;
  color: #86577B;
}
.home-header-header p {
  width: 85%;
  font-size: 2.4rem;
}
.home-header-content {
  display: flex;
  margin: 6rem 0;
  width: 100%;
}
.home-header-content-right {
  height: 28rem;
  width: 100%;
  background-color: #B4E1FF;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10rem;
  margin: 0 0 0 4rem;
}
.home-header-content-right p {
  font-size: 2.9rem;
}
.home-header-content-right-link {
  background-color: black;
  color: white;
  font-size: 1.6rem !important;
  display: flex;
  width: max-content;
  text-align: center;
  transition: all 0.2s;
  border: 1px solid transparent;
  align-items: center;
  font-weight: 900;
  padding: 1rem;
}
.home-header-content-right-link:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
.home-header-content-right h3 {
  margin: 0;
  font-size: 5.2rem;
}
.home-header-content-right-inner {
  width: 41.1rem;
}
.home-header-content-image {
  border-right: 1rem solid #794577;
  border-left: 1rem solid #794577;
}
.home-header-cover {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 30%;
}
.home-events {
  padding: 4rem;
  margin-top: 25rem;
}
.home-events-container-each {
  padding: 1rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.home-events-container-each:not(:last-child) {
  border-bottom: 1px solid #E8E6E6;
}
.home-events-container-each-date {
  display: flex;
  align-items: center;
}
.home-events-container-each-date div p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
}
.home-events-container-each-date div p:first-child {
  color: #B3B3B3;
}
.home-events-container-each-date h4 {
  font-weight: 400;
  margin-right: 1rem;
  font-size: 4rem;
}
.home-events-container-each-content {
  margin-left: 4rem;
  display: flex;
  align-items: baseline;
}
.home-events-container-each-content-container {
  display: flex;
  align-items: center;
}
.home-events-container-each-content h3 {
  font-weight: 400;
  font-size: 4rem;
}
.home-events-container-each-content h5 {
  margin-left: 2rem;
  font-size: 2rem;
}
.home-events-header {
  border-bottom: 2px solid #794577;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-events-header h2 {
  color: #794577;
  font-size: 3.6rem;
}
.home-events-link {
  background-color: black;
  color: white;
  font-size: 1.6rem !important;
  display: flex;
  width: max-content;
  text-align: center;
  transition: all 0.2s;
  border: 1px solid transparent;
  align-items: center;
  font-weight: 900;
  padding: 1rem;
}
.home-services {
  padding: 10rem;
  height: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-services-right {
  position: relative;
  width: 40rem;
  margin-left: 3rem;
  height: 60rem;
}
.home-services-right img {
  object-fit: cover;
}
.home-services-content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  height: 100%;
  color: #fff;
  width: calc(100% - 95rem);
  background-color: #F5D2CE;
}
.home-services-content-inner {
  width: 40rem;
}
.home-services-content p {
  font-size: 1.8rem;
}
.home-services-content h3 {
  margin: 1rem 0 3rem;
  font-size: 3.6rem;
}
.home-services-left {
  position: relative;
  width: 40rem;
  margin-right: 3rem;
  height: 60rem;
}
.home-services-left img {
  object-fit: cover;
}

.footer {
  display: flex;
  width: calc(100% - 4rem);
  margin: 0 2rem 0;
}
.footer-left {
  font-weight: 400;
  font-size: 1.6rem;
  background-image: linear-gradient(to right, rgba(188, 177, 245, 0.6), rgba(188, 177, 245, 0.7)), url("/footer-left.webp");
  background-size: cover;
  width: calc(30% - 10rem);
  color: #FBFFFF;
  padding: 5rem;
}
.footer-left h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
.footer-left h4 {
  margin-top: 1rem;
  font-size: 2rem;
}
.footer-left-social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.footer-left-social a {
  color: #FBFFFF;
  font-size: 2rem !important;
}
.footer-left-social a {
  margin-right: 1rem;
}
.footer-left-social a img {
  width: 2.4rem;
}
.footer-left p {
  margin: 3rem 0;
}
.footer-mid {
  background-color: #AB87FF;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FBFFFF;
  padding: 2rem;
}
.footer-mid h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.footer-mid-form {
  max-width: 50rem;
  width: 100%;
}
.footer-mid-form-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-mid-form-form input {
  width: calc(80% - 4rem);
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  outline: none;
}
.footer-mid-form-form button {
  width: 20%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  outline: none;
  background-color: #000;
  color: #FBFFFF;
  font-weight: 700;
  cursor: pointer;
}
.footer-right {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  background-image: linear-gradient(to right, rgba(188, 177, 245, 0.6), rgba(188, 177, 245, 0.7)), url("/footer-left.webp");
  color: #FBFFFF;
  padding: 2rem;
}
.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-right ul li {
  margin-bottom: 1rem;
}
.footer-right ul li a {
  color: #FBFFFF;
  font-size: 1.9rem;
  text-decoration: none;
}
.footer-right-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10rem;
  margin-top: 2rem;
  width: 100%;
}
.footer-right-links-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: fit-content;
  margin-top: 5rem;
  background-color: #000;
  color: #FBFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}

body {
  margin: 0;
}

html {
  font-size: 10px;
}

/*# sourceMappingURL=globals.css.map */
